/*** Auth Pages (SignIn & SignUp) ***/

.auth {
  background-color: #6e5baa;
  width: 100%;
  height: 100%;
  position: absolute;
}

.signin, .signup {
  width: 350px;
  margin: 100px auto 0px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
}

.auth-input {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin: 8px 5%;
  padding: 10px 3%;
  width: 84%;
}

.auth-button {
  background-color: #6e5baa;
  background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0,rgba(159,88,150,0)),color-stop(1,rgba(159,88,150,0.6)));
  color: #f9f9f9;
  border: none;
  border-radius: 3px;
  margin: 8px 5%;
  padding: 10px 3%;
  width: 90.5%;
}

.auth-button:hover {
  background-color: #7e62cc;
}

.auth-redirect {
  background-color: #e0e0e0;
  border: 1px solid #f9f9f9;
  color: #868686;
  font-size: 200;
  border-radius: 3px;
  margin: 15px 0px;
  padding: 15px 10px;
  width: 328px;
}

.auth-redirect a {
  color: #6e5baa;
}

.auth-redirect a:hover {
  color: #372d55;
}

.gender-buttons {
  list-style-type: none;
  padding: 0px;
  margin: 8px 0px;
}

.gender-buttons li {
  float: left;
  margin: 0% 0% 8px 5%;
  width: 42.5%;
  height: 40px;
  position: relative;
}

.gender-buttons label, .gender-buttons input {
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
}

.gender-buttons input[type="radio"] {
  opacity:0;
  z-index:1;
}

.gender-buttons input[type="radio"]:checked + label,
.Checked + label {
  background: #e0e0e0;
}

.gender-buttons label {
  padding-top: 10px;
  border:1px solid #e0e0e0;
  border-radius: 3px; 
  cursor:pointer;
}

.gender-buttons label:hover {
  background: #e0e0e0;
}