h1{
  display: inline;
	color: #2380E2;
	font-family: sans-serif;
}

.title {
  margin-bottom: 20px;
}

.btn {
  background: #639FDE;
  border-radius: 28px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;

}

.navbar {
  margin: 30px 0px;
}

.navbar .btn {

}

.btn:hover{
  background-color: #2380E2;
}


.jumbotron{
  background-color: #dcdcdc;
  text-align: center;
  border-radius: 2px;
}

.image {
  margin: 50px 15px;
  max-width: 300px;
}

.vote {
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;
}

.closetPic {
  max-width: 500px;
  max-height: 500px;
}

.card {
  /*overflow: hidden;*/
  position: relative;
  /*width: 23%;*/
  display: inline-block;
  margin: 0 2px;
  position: relative;
  border: 3px solid #000;
  border-radius: 3px;
  text-align: center;
}

.percentage {
  /*color: #000;*/
  font-size: 14px;
  font-weight: 700;
  margin: auto;
  bottom: 50px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  position: absolute;
  background: #fff;
  border: 1px solid #000;
  border-bottom: 5px solid #000;
  text-align: center;
}

.fire {
  width: 20px;
  height: 20px;
}
