body { 
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  display: inline;
	color: black;
  bottom: 50px;
  padding-left: 10px;
}

h3 {
  color: black;
}

h2 {
  color: black;
}

a:hover {
  cursor: pointer;
}

.main {
  /*background-image: url(http://s21.postimg.org/cbxlj5x47/image.jpg);*/
  background-repeat: no-repeat;
  margin:0 auto;
  padding-top: 500px;
  width: 50%;
 }

a:hover, a:link {
  text-decoration: none;
}

.navbar .btn, #navbar-right {
  color: #fff;
  padding: 9px 15px;
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
}

.navbar {
  height: 40px;
  background: #6e5baa;
  border-bottom: 5px solid #372d55;
}

#navbar-left {
  display: inline-block;
  width: 35%;
}

#navbar-right {
  float: right;
  padding-right: 10px;
}

.btn:hover{
  color: gray;
}

.image {
  margin: 50px 15px;
  max-width: 500px;
}

.closetPic {
  max-width: 500px;
  max-height: 500px;
}

.card {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  position: relative;
  border: 3px solid #000;
  border-radius: 3px;
  text-align: center;
}

.percentage {
  font-size: 14px;
  font-weight: 700;
  margin: auto;
  bottom: 50px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  position: absolute;
  background: #fff;
  border: 1px solid #000;
  border-bottom: 5px solid #000;
  text-align: center;
}

.remove {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
}

.fire {
  width: 20px;
  height: 20px;
}

.voteButton {
  max-height: 40px;
  max-width: 40px;
  margin-right: 20px;
}

#delete {
  max-height: 25px;
  max-width: 25px;
}

#delete:hover {
  max-height: 70px;
  max-width: 70px;
}

.closet {
  text-align: center;
}

.closetbuttons {
  display: inline;
}

.closetform {
  text-align: left;
}

.imageupload {
  display: inline-block;
  padding-left: 10px;
}

.clothingfilter {
  position: relative;
  left: 0;
  display: inline-block;
  float: right;
  padding-right: 200px;
  bottom: 60px;
}

.already {
  padding-left: 10px;
  color: black;
  font-variant: small-caps;
  font-size: 20px;
}




/*** Add Link Modal ***/

.add-link-modal {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
}

/*.add-link-modal div {
  width: 50%;
  height: 180px;
  margin: 60px auto;  
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  text-align: center;
}*/

.add-link-modal div i, .x-button {
  float: right;
  cursor: pointer;
}

.add-link-modal h2 {
  margin: 20px auto 5px;
  width: 300px;
}

.add-link-modal input {
  padding: 8px 14px;
  width: 260px;
  font-size: 16px;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #000;
  opacity: 0.6;
}

svg {
  width: 2em;
  height: 2em;
}


.firstModal {
  width: 50%;
  height: 180px;
  margin: 60px auto;  
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  text-align: center;
}

.secondModal {
  width: 50%;
  height: 180px;
  margin: 60px auto;  
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  text-align: center;
  background-color: blue;
}




/*** Auth Pages (SignIn & SignUp) ***/

.auth {
  background-color: #6e5baa;
  width: 100%;
  height: 100%;
  position: absolute;
}

.signin, .signup {
  width: 350px;
  margin: 100px auto 0px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
}

.auth-input {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin: 8px 5%;
  padding: 10px 3%;
  width: 84%;
}

.auth-button {
  background-color: #6e5baa;
  background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0,rgba(159,88,150,0)),color-stop(1,rgba(159,88,150,0.6)));
  color: #f9f9f9;
  border: none;
  border-radius: 3px;
  margin: 8px 5%;
  padding: 10px 3%;
  width: 90.5%;
}

.auth-button:hover {
  background-color: #7e62cc;
}

.auth-redirect {
  background-color: #e0e0e0;
  border: 1px solid #f9f9f9;
  color: #868686;
  font-size: 200;
  border-radius: 3px;
  margin: 15px 0px;
  padding: 15px 10px;
  width: 328px;
}

.auth-redirect a {
  color: #6e5baa;
}

.auth-redirect a:hover {
  color: #372d55;
}

.gender-buttons {
  list-style-type: none;
  padding: 0px;
  margin: 8px 0px;
}

.gender-buttons li {
  float: left;
  margin: 0% 0% 8px 5%;
  width: 42.5%;
  height: 40px;
  position: relative;
}

.gender-buttons label, .gender-buttons input {
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
}

.gender-buttons input[type="radio"] {
  opacity:0;
  z-index:1;
}

.gender-buttons input[type="radio"]:checked + label,
.Checked + label {
  background: #e0e0e0;
}

.gender-buttons label {
  padding-top: 10px;
  border:1px solid #e0e0e0;
  border-radius: 3px; 
  cursor:pointer;
}

.gender-buttons label:hover {
  background: #e0e0e0;
}

#top-users {
}

#top-users .title {
  display: block;
}

.top-user-container {
  display: inline-block;
  float: left;
  width: 20em;
  height: 15em;
  border: 1px solid #6e5baa;
  border-radius: 4px;
  background-color: #6e5baa;
  margin: .5em;
  position: relative;
}

.top-user-interior {
  background-color: #F5F5F5;
  width: auto;
  height: auto;
  position: relative;
  margin-top: 0;
  margin: .75em;
  text-align: center;
  text-indent: 0;
  /*padding: .5em;*/
}

.btn-back {
  fill: #fff;
  width: 1.3em;
  height: 1.3em;
}

.btn-back:hover {
  fill: gray;
  cursor: pointer;
}

#navbar-left .btn {
  float: left;
}

.top-user-interior h2:hover,
.top-user-interior h3:hover,
.top-user-interior h4:hover,
.top-user-interior svg:hover {
  cursor: pointer;
}

.top-user-interior svg {
  width: 4em;
  height: 4em;
}


/*** Vote Page ***/

.vote-card {
  text-align: center;
  margin: 40px auto 0px;
  width: 300px;
}

.vote-card h3 {
  color: #fff;
  margin: 0px 20px;
  padding: 10px 0px;
  border-bottom: 1px solid #fff;
}

.vote-card-img {
  background-color: #e0e0e0;
  position: absolute;
  border-radius: 3px;
  width: 300px;
}

.vote-card-info {
  width: 300px;
  cursor: pointer;
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.60);
  z-index: 1;
  opacity: 0;
}

.vote-card-info:hover {
  opacity: 1;
}

.vote-card img {
  padding: 2%;
  width: 96%;
}

