body { 
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

h1 {
  text-align: center;
  display: inline;
	color: black;
  bottom: 50px;
  padding-left: 10px;
}

h3 {
  color: black;
}

h2 {
  color: black;
}

a:hover {
  cursor: pointer;
}

.main {
  /*background-image: url(http://s21.postimg.org/cbxlj5x47/image.jpg);*/
  background-repeat: no-repeat;
  margin:0 auto;
  padding-top: 500px;
  width: 50%;
 }

a:hover, a:link {
  text-decoration: none;
}

.btn:hover{
  color: gray;
}

.image {
  margin: 50px 15px;
  max-width: 500px;
}

.closetPic {
  max-width: 500px;
  max-height: 500px;
}

.card {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  position: relative;
  border: 3px solid #000;
  border-radius: 3px;
  text-align: center;
}

.percentage {
  font-size: 14px;
  font-weight: 700;
  margin: auto;
  bottom: 50px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  position: absolute;
  background: #fff;
  border: 1px solid #000;
  border-bottom: 5px solid #000;
  text-align: center;
}

.remove {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
}

.fire {
  width: 20px;
  height: 20px;
}

.voteButton {
  max-height: 40px;
  max-width: 40px;
  margin-right: 20px;
}

#delete {
  max-height: 25px;
  max-width: 25px;
}

#delete:hover {
  max-height: 70px;
  max-width: 70px;
}

.closet {
  text-align: center;
}

.closetbuttons {
  display: inline;
}

.closetform {
  text-align: left;
}

.imageupload {
  display: inline-block;
  padding-left: 10px;
}

.clothingfilter {
  position: relative;
  left: 0;
  display: inline-block;
  float: right;
  padding-right: 200px;
  bottom: 60px;
}

.already {
  padding-left: 10px;
  color: black;
  font-variant: small-caps;
  font-size: 20px;
}


svg {
  width: 2em;
  height: 2em;
}


#top-users {
}

#top-users .title {
  display: block;
}

.top-user-container {
  display: inline-block;
  float: left;
  width: 20em;
  height: 15em;
  border: 1px solid #6e5baa;
  border-radius: 4px;
  background-color: #6e5baa;
  margin: .5em;
  position: relative;
}

.top-user-interior {
  background-color: #F5F5F5;
  width: auto;
  height: auto;
  position: relative;
  margin-top: 0;
  margin: .75em;
  text-align: center;
  text-indent: 0;
  /*padding: .5em;*/
}


.top-user-interior h2:hover,
.top-user-interior h3:hover,
.top-user-interior h4:hover,
.top-user-interior svg:hover {
  cursor: pointer;
}

.top-user-interior svg {
  width: 4em;
  height: 4em;
}


/*** Vote Page ***/

.vote-card {
  text-align: center;
  margin: 40px auto 0px;
  width: 300px;
}

.vote-card h3 {
  color: #fff;
  margin: 0px 20px;
  padding: 10px 0px;
  border-bottom: 1px solid #fff;
}

.vote-card-img {
  background-color: #e0e0e0;
  position: absolute;
  border-radius: 3px;
  width: 300px;
}

.vote-card-info {
  width: 300px;
  cursor: pointer;
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.60);
  z-index: 1;
  opacity: 0;
}

.vote-card-info:hover {
  opacity: 1;
}

.vote-card img {
  padding: 2%;
  width: 96%;
}

