
.navbar {
  height: 40px;
  font-size: 18px;
  padding: 0px;
  background: #6e5baa;
  border-bottom: 5px solid #372d55;
  color: #fff;
}

.navbar-left {
  margin-left: 20px;
  font-size: 26px;
  padding-top: 3px;
  width: 32%;
  float: left;
  height: 100%;
  cursor: pointer;
}

.navbar-left i {
  padding-right: 20px;
}

.fa-check-square-o {
  padding-top: 2px;
}

.navbar-center {
  padding-top: 9px;
  display: inline-block;
  width: 32%;
  text-align: center;
  cursor: pointer;
}

.navbar-right {
  padding-top: 6px;
  float: right;
  margin-right: 20px;
  width: 32%;
  cursor: pointer;
}


.navbar-right p {
  font-size: 16px;
  float: left;
  margin: 4px 20px 0px 0px;
}

.navbar-right i {
  float: right;
  margin: 3px 20px 0px 10px;
}

.add-link-icon {
  color: #fff;
  font-size: 26px;
}

.add-link-icon:hover {
  color: #3b77db;
}

.nav-dropdown-link {
  float:right;
}

.nav-dropdown-link-username:hover {
  color: #999999;
}

.nav-dropdown {
  width: 140px;
  z-index: 5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  list-style: none;
  text-align: left;
  font-size: 14px;
  margin-top: 40px;
  position: absolute;
}

.nav-dropdown li {
  color: #372d55;
  padding: 5px 10px;
  cursor: pointer;
}

.nav-dropdown li:hover {
  background-color: #e5e5e5;
}

.navbar-right .nav-dropdown-link i {
  margin-right: 5px;
}

.navbar-right .nav-dropdown i {
  float: left;
  margin: 3px 10px 0px 0px;
  width: 13px;
}

.btn {
  font-size: 18px;
  color: #fff;
  padding: 9px 20px 0px 0px;
}





/*** Add Link Modal ***/

.add-link-modal {
  position: fixed;
  z-index: 10;
  width: 100%;
}

/*.add-link-modal div {
  width: 50%;
  height: 180px;
  margin: 60px auto;  
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  text-align: center;
}*/

.add-link-modal div i, .x-button {
  float: right;
  cursor: pointer;
}

.add-link-modal h2 {
  margin: 20px auto 5px;
  width: 300px;
}

.add-link-modal input {
  padding: 8px 14px;
  width: 260px;
  font-size: 16px;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8;
  cursor: pointer;
  background-color: #000;
  opacity: 0.6;
}

.firstModal {
  width: 50%;
  height: 180px;
  margin: 60px auto;  
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  text-align: center;
}

.secondModal {
  width: 50%;
  height: 480px;
  margin: 60px auto;  
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
}

.secondModal img {
  float: left;
  padding-left: 10px;
  padding-top: 45px;
  height: 350px;
}

.entry {
  padding-top: 20px !important;
  font-style: italic !important;
  font-size: 15px;
}

.secondModal ul {
  list-style-type: none;
  text-align: left;
}

input[type='radio'] {
  margin-right: 2px;
}

/*.secondModal ul li {
  line-height: 3px;
  padding: 0;
  margin: 0;
  background-color: yellow;
}*/

/*.type-buttons input[type="radio"] {
    opacity: 0;
    z-index: 1;
    height: 20px;
    
    background-color: orange;
}*/

.type-buttons label  {
    display: block;
    /*position: absolute;*/
   /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
   /* width: 100%;*/
}

/*.type-buttons ul li {
  height: 15px;
}*/

.source {
  font-size: 20px;
}

.image_name {
  font-size: 22px;
  font-weight: bold;
  padding-top: 30px;
  padding-right: 20px;
}

.btn-back {
  fill: #fff;
  width: 1.3em;
  height: 1.3em;
}

.btn-back:hover {
  fill: gray;
  cursor: pointer;
}

#navbar-left .btn {
  float: left;
}

