<style>
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
</style>


<div class='closet container' ng-controller="ClosetCtrl">

<h1>welcome to your closet</h1>

<div class='closetform container'>
  <h3>add to your closet:</h3>
<a href="/client/photobooth.html">photobooth</a>
  <div class='imageupload'>
    <form action="/postimage" method="post" enctype="multipart/form-data" class= 'closetform'>
        <div class="image-choice" ng-hide="imageChoice">
          <div class="fileUpload btn btn-primary">
            <span>Upload Photo</span>
            <input type="file" name="upload" class="upload">
          </div>
          <button type="button" class="btn btn-primary" ng-click="showCamera()">Take Snapshot</button>
        </div>
<!--         <div>
          <camera ng-show="webcam"></camera>
          <button ng-show="webcam" type="button" class="btn btn-primary" ng-click="takePhoto()">Capture!</button>
          <a ng-show="webcamLink" id="link" href="#">Link to Pic</a>
        </div> -->
        </div>
        <br><br>
        <input type="hidden" name="name" value="{{username}}">
        <!-- <input type="hidden" name="image" value="{{image}}"> -->
        <select class="type" name="clothingType" required>
          <option value="">please select a clothing type</option>
          <option value="1">tops</option>
          <option value="2">bottoms</option>
          <option value="3">shoes</option>
          <option value="4">outfit</option>
        </select><br>
        <input type="submit" value="Upload File" class="pure-button">
      </form>
    </div>

    <div class='clothingfilter'>
      <h3>filter your closet:</h3>
       <select class="filtermenu" name="search" ng-model="search">
          <option ng-selected="true" value="-1">all</option>
          <option value="1">tops</option>
          <option value="2">bottoms</option>
          <option value="3">shoes</option>
          <option value="4">outfit</option>
        </select>
    </div>
</div>

<br>


  <!-- <canvas id="snapshot" class="well pull-right"></canvas> -->
  
  <div class="card" ng-repeat="pic in pics | filter:customFilter">
    <pic-info info="pic"></pic-info>
    <div class="remove" ng-click="removeImage(pic.image_id, pic.image_name); reloadPage()">
      <img id="delete" src="client/img/delete-icon.jpg"/>
    </div>
  </div>

</div>

