<div class='closet' ng-init="getCloset()"> <!-- controller assigned via router -->

<h1>This is the closet</h1>


  <form action="/postimage" method="post" enctype="multipart/form-data">
    <input type="file" name="upload" multiple="multiple">
    <br>
    <input type="submit" value="Upload File">
    <input type="hidden" name="name" value="{{username}}">
  </form>

  <br>

  <!-- ng-repeat uses a directive called picInfo to display each image -->
  <div ng-repeat="pic in pics">
    <pic-info info="pic"></pic-info>
  </div>

</div>

