<div class='closet'> <!-- controller assigned via router -->

<h1>{{header}}</h1>


  <form action="/postimage" method="post" enctype="multipart/form-data">
    <input type="file" name="upload" multiple="multiple">
    <br>
    <input type="submit" value="Upload File">
    <input type="hidden" name="name" value="{{username}}">
    <select class="type" name="clothingType" required>
      <option value="">Please select a clothing type</option>
      <option value="1">tops</option>
      <option value="2">bottoms</option>
      <option value="3">shoes</option>
      <option value="4">outfit</option>
    </select><br>
  </form>

  <br>

  <!-- ng-repeat uses a directive called picInfo to display each image -->
  <select class="type" name="search" ng-model="search">
    <option ng-selected="true" value="-1">All</option>
    <option value="1">tops</option>
    <option value="2">bottoms</option>
    <option value="3">shoes</option>
    <option value="4">outfit</option>
  </select>
  <div class="card" ng-repeat="pic in pics | filter:customFilter">
    <pic-info info="pic"></pic-info>
    <div class="remove" ng-click="removeImage(pic.image_id, pic.image_name); reloadPage()">
      <img id="something" src="delete-icon.jpg"/>
    </div>
  </div>

</div>

