
<div class='auth' ng-controller="AuthCtrl">
  <div id="badge">
      <img src="cfbadge.svg" style="width:350px;height:200px;">
  </div>
  <form novalidate class='signin'>
    <!-- <div id="logo">
      <img src="cflogo.svg" style="width:325px;height:100px;">
    </div> -->
  	<br>
    <input class="auth-input" type="text" ng-model="user.username" placeholder="Username"/>
    <input class="auth-input" type="password" ng-model="user.password" placeholder="Password"/>
    <input class="auth-button" type="submit" ng-click="signin()" value="Sign In"/>
    <div class="auth-redirect">New here? <a ng-href="#/signup">Sign Up</a></div>
  </form>
  <div class="err signinErr" ng-show="signinErr">
    {{ signinTxt }}
  </div>

</div>
