<div class='auth clear col-md-12' ng-controller="AuthCtrl">

	<div class='col-md-12'>
		<div class="col-md-4 col-md-offset-4">
			<h2 class="sign-in-up-title fade-in-three-quarter-sec">Sign In</h2>
		  <form novalidate class='signin'>
		    Username: <input type="text" ng-model="user.username" /><br><br>
		    Password: <input type="password" ng-model="user.password" /><br><br>
		    <input type="submit" ng-click="signin()" value="SignIn"/>
		  </form>
		</div>
  </div>

</div>




  
   
      <!-- 
      <form name="signinForm" ng-submit='signin()'>
        <input type='text'ng-model='user.username' placeholder='Username' class='form-control my-margin-quarter-em fade-in-three-quarter-sec shadow' name='name' required>
        <input type="password" ng-model='user.password' placeholder='Password' class='form-control my-margin-quarter-em fade-in-three-quarter-sec shadow' name='password' required>
        <div ng-show="showErr" class='message-error shadow'>{{err}}</div>
        <button class="btn btn-primary fade-in-1-and-three-quarter-sec sign-in-up-button-text my-margin-half-em shadow">Enter a world of quests</button>
      </form>

      <a href="#/signup" class="account fade-in-1-and-three-quarter-sec">Doth thou have an account? If nay, click hither and <strong>sign up!</strong></a>
    </div>
  </div>
</div>
 -->