<div class='auth' ng-controller="AuthCtrl">
  <form novalidate class='signup'>
  	First Name: <input type='text' ng-model='user.firstname' /><br><br>
  	Last Name: <input type='text' ng-model='user.lastname' /><br><br>
    Username: <input type="text" ng-model="user.username" /><br><br>
    Password: <input type="password" ng-model="user.password" /><br><br>
    Female: <input type='radio' ng-model='user.gender' value='female' /> Male: <input type='radio' ng-model='user.gender' value='male' /><br><br>

    <input type="submit" ng-click="signup()" value="Sign Up"
  />
  </form>
<br>
  <a ui-sref='signin' class='already'>already a fashionista? sign in to start voting</a>

</div>
