<div class='auth clear col-md-12' ng-controller="AuthCtrl">

	<div class='col-md-12'>
		<div class="col-md-4 col-md-offset-4">
			<h3 class="sign-in-up-title fade-in-three-quarter-sec">Sign In</h3>
			<div class='clean'></div>
		  <form novalidate ng-submit='signin()' class='signin form-horizontal'>
		    <input class='form-control' type="text" placeholder='User' ng-model="user.username" /><br><br>
		    <input class='form-control' type="password" placeholder='Password' ng-model="user.password" /><br><br>
		    <button class='btn btn-primary'>Enter Closet</button>
		    <div class='clean'></div>
		  </form>
		  <a ui-sref='signup' class='already'>Don't have an account? <strong>Create one!</strong></a>
		</div>
  </div>

</div>

