<div class='singleOutfitDiv container col-md-12' ng-controller="SingleOutfitCtrl">
  <button class='btn btn-danger'><a href="#/closet">Back to Closet</a></button>
  <img class="singleOutfitImage" src="{{singleImageUrl}}">

<!--   <div class="singleOutfitCommentsDiv">
    <p> First!</p>
    <p> Lookin' good ! </p>
    <p> Get some brown boots for that. </p>
    <p> Wow!!! </p>
    <p> Meh, my grandma has that blouse </p>
    <p> Can I have your phone number? </p>
    <p> Your best yet! </p>
    <p> The pic doesn't show up now that I upgraded to El Capitan</p>
    <p> What type of dog is this? </p>
    <p> OMG, I just found out that Titanic actually happened! </p>
    <p> Where did you buy that hat? </p>
  <div>
</div> -->


<div class="detailBox singleOutfitCommentsDiv">
  <div class="titleBox">
    <label>Comments</label>
  </div>
  <div class="actionBox">
    <ul class="commentList">
      <li>
        <div class="commenterImage">
          <img src="http://lorempixel.com/50/50/people/6"/>
        </div>
        <div class="commentText">
          <p class="">First Comment!</p> <span class="date sub-text">on Jan. 07, 2016</span>
        </div>
      </li>
      <li>
        <div class="commenterImage">
          <img src="http://lorempixel.com/50/50/people/7" />
        </div>
        <div class="commentText">
          <p class="">Lookin' good !</p> <span class="date sub-text">on Jan. 07, 2016</span>
        </div>
      </li>
      <li>
        <div class="commenterImage">
          <img src="http://lorempixel.com/50/50/people/11" />
        </div>
        <div class="commentText">
          <p class=""> Get some brown boots for that. </p> <span class="date sub-text">on Jan. 07, 2016</span>
        </div>
      </li>  
      <li>
        <div class="commenterImage">
          <img src="http://lorempixel.com/50/50/people/9" />
        </div>
        <div class="commentText">
          <p class="">The pic doesn't show up now that I upgraded to El Capitan</p> <span class="date sub-text">on Jan. 07, 2016</span>
        </div>
      </li>
      <li>
        <div class="commenterImage">
          <img src="http://lorempixel.com/50/50/people/10/" />
        </div>
        <div class="commentText">
          <p class="">Where did you buy that hat? </p> <span class="date sub-text">on Jan. 07, 2016</span>
        </div>
      </li>   
      <li>
        <div class="commenterImage">
          <img src="http://lorempixel.com/50/50/people/13/" />
        </div>
        <div class="commentText">
          <p class="">Where did you buy that hat? </p> <span class="date sub-text">on Jan. 07, 2016</span>
        </div>
      </li>   
      <li>
        <div class="commenterImage">
          <img src="http://lorempixel.com/50/50/people/16/" />
        </div>
        <div class="commentText">
          <p class="">Where did you buy that hat? </p> <span class="date sub-text">on Jan. 07, 2016</span>
        </div>
      </li>   
      <li>
        <div class="commenterImage">
          <img src="http://lorempixel.com/50/50/people/21/" />
        </div>
        <div class="commentText">
          <p class="">Where did you buy that hat? </p> <span class="date sub-text">on Jan. 07, 2016</span>
        </div>
      </li>
    </ul>
  </div>
</div>