<div class='singleOutfitDiv container col-md-12' ng-controller="SingleOutfitCtrl">
  <button class='btn btn-danger'><a href="#/closet">Back to Closet</a></button>
  <img class="singleOutfitImage" src="{{singleImageUrl}}">

  <div class="singleOutfitCommentsDiv">
    <p> First!</p>
    <p> Lookin' good ! </p>
    <p> Get some brown boots for that. </p>
    <p> Wow!!! </p>
    <p> Meh, my grandma has that blouse </p>
    <p> Can I have your phone number? </p>
    <p> Your best yet! </p>
    <p> The pic doesn't show up now that I upgraded to El Capitan</p>
    <p> What type of dog is this? </p>
    <p> OMG, I just found out that Titanic actually happened! </p>
    <p> Where did you buy that hat? </p>
  <div>
</div>
