<div id="top-users" ng-controller="TopUsersCtrl">

<h1 class="title"> Top Users </h1>
  <div class="top-user-container" ng-repeat="user in users">
    <div class="top-user-interior">
      <!-- <a ng-href="#/profile/{{user.username}}" -->
      <h2 class="top-user-username" ng-click="goToProfile(user)">{{ user.username }}</h2>
      <svg class="top-user-pic" ng-click="goToProfile(user)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="m24 24c4.42 0 8-3.59 8-8 0-4.42-3.58-8-8-8-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 8m0 4c-5.33 0-16 2.67-16 8v4h32v-4c0-5.33-10.67-8-16-8"/></svg>
      <h3 class="top-user-fullname" ng-click="goToProfile(user)">{{ user.firstname }} {{ user.lastname }}</h2>
      <h4 class="top-user-cred" ng-click="goToProfile(user)">{{ user.credibilityscore }}</h4>
    </div>
  </div>

</div>
